body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


.resume {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #0073e6;
}

header p {
    margin: 5px 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #0073e6;
    padding-bottom: 5px;
    color: #0073e6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

.job {
    margin-bottom: 10px;
}

.job h3 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #0073e6;
}

/*Certification

*/
.certifications .certification {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.certifications .certification img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.certifications .cert-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: #0073e6;
}

.certifications .cert-info p {
    margin: 5px 0;
}

.certifications .cert-info a {
    color: #0073e6;
    text-decoration: none;
}

.education .education-item {
    margin-bottom: 20px;
}

.education .education-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #0073e6;
}

.education .education-item p {
    margin: 5px 0;
}

.achievements ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.achievements ul li {
    margin: 5px 0;
}

.projects .project-item {
    margin-bottom: 20px;
}

.projects .project-item h3 {
    margin: 0;
    font-size: 1.2em;
    color: #0073e6;
}

.projects .project-item p {
    margin: 5px 0;
}

.languages ul, .interests ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.languages ul li, .interests ul li {
    margin: 5px 0;
}


.details-container {
    display: flex;
    justify-content: space-between;
}

.personal-details ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.personal-details ul li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.personal-details ul li i {
    margin-right: 10px;
    color: #0073e6;
}

.personal-details ul li a {
    color: #0073e6;
    text-decoration: none;
}

.personal-details ul li a:hover {
    text-decoration: underline;
}